In [1]:
v = "otro texto"
n = 10
print(" un texto", v, "y un numero", n)

 un texto otro texto y un numero 10

In [3]:
 c = " un texto '{}' y un numero '{}'".format(v, n)
c

' un texto otro texto y un numero 10'

In [4]:
print(c)

 un texto otro texto y un numero 10

In [6]:
c = f"un texto {v} y un numero {n}"
print(c)

un texto otro texto y un numero 10

In [7]:
 c = " un texto '{}' y un numero '{}'".format(v, n)
print("un texto {1} y un numero {0}".format(v,n))

un texto 10 y un numero otro texto

In [8]:
print("un texto {texto} y un numero {numero}".format(texto=v,numero=n))

un texto otro texto y un numero 10

In [9]:
print("un texto'{v}' y un numero '{n}'".format(n=n, v = v))

un texto'otro texto' y un numero '10'

In [11]:
print(f"un texto {v} y un numero {n}")

un texto otro texto y un numero 10

In [12]:
print ("{v},{v},{v}".format(v=v))

otro texto,otro texto,otro texto

In [13]:
# con format tambien podemos alinear en este ejemplo la hemos colocado 30 espacios a la derecha
print ( "{:>30}".format("palabra"))

                       palabra

In [14]:
print ( "{:30}".format("palabra")) # alinamiento a la izquierda no usamos mayor que

palabra

In [15]:
print ( "{:^30}".format("palabra")) # alinamiento al centro usamos ^

           palabra

In [16]:
print ( "{:.3}".format("palabra")) # truncamiento a 3 caracteres  usamos . numero a truncar

pal

In [17]:
# si trabajasemos con mas elementos antes de los : hay que colocar el nombre de la variable
print ( "{:>30.3}".format("palabra")) # alineamiento a la derecha con 30 caracteres con truncamiento de 3

                           pal

In [19]:
# formateo de numeros enteros, rellanados con espacios
print("{:4d}".format(10))
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000

In [20]:
# formateo de numeros enteros, rellanados con ceros
print("{:04d}".format(10))
print("{:04d}".format(100))
print("{:04d}".format(1000))

0010
0100
1000

In [23]:
# formateo de numeros flotantes, rellenados con espacios
print("{:.3f}".format(3.1415926))

3.142

In [25]:
# para alinear numeros decimales es necesario saber cuantos digitos son, el punto cuenta, y el numero de decimales que queremos
print("{:7.3f}".format(3.1415926))
print("{:7.3f}".format(153.21))

  3.142
153.210

In [26]:
#para rellenar con 0
print("{:07.3f}".format(3.1415926))
print("{:07.3f}".format(153.21))

003.142
153.210